<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="IG2BIG_packageSubmitRequest_outBinding" />
        <binding name="IG2BIG_packageSubmitRequest_outBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="IG2BIG_packageSubmitRequest_outBinding4" />
        <binding name="IG2BIG_checkStatus_outBinding">
          <security mode="Transport" />
        </binding>
        <binding name="IG2BIG_checkStatus_outBinding1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomHttpTransportBinding">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap11" writeEncoding="utf-8">
            <readerQuotas maxDepth="10000000" maxStringContentLength="10000000"
              maxArrayLength="67108864" maxBytesPerRead="65536" maxNameTableCharCount="100000" />
          </textMessageEncoding>
          <httpsTransport authenticationScheme="Basic" bypassProxyOnLocal="false"
            hostNameComparisonMode="StrongWildcard" keepAliveEnabled="false"
            proxyAuthenticationScheme="Basic" realm="XISOAPApps" useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://sapmodl01.zsrk.ms.gov.pl:51100/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=IG_SENDER_SYSTEMS_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=IG2BIG_packageSubmitRequest_out&amp;interfaceNamespace=http%3A%2F%2Fms.gov.pl%2Fig2big%2Fcommon"
        binding="basicHttpBinding" bindingConfiguration="IG2BIG_packageSubmitRequest_outBinding"
        contract="ServiceReferenceBigMain.IG2BIG_packageSubmitRequest_out"
        name="HTTP_PortX" />
      <endpoint address="https://sapwipl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=IG_SENDER_SYSTEMS_PRD&amp;receiverParty=&amp;receiverService=&amp;interface=IG2BIG_packageSubmitRequest_out&amp;interfaceNamespace=http%3A%2F%2Fms.gov.pl%2Fig2big%2Fcommon"
        binding="basicHttpBinding" bindingConfiguration="IG2BIG_packageSubmitRequest_outBinding1"
        contract="ServiceReferenceBigMain.IG2BIG_packageSubmitRequest_out"
        name="HTTPS_Port1" />
      <endpoint address="https://sapwipl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=IG_SENDER_SYSTEMS_PRD&amp;receiverParty=&amp;receiverService=&amp;interface=IG2BIG_checkStatus_out&amp;interfaceNamespace=http%3A%2F%2Fms.gov.pl%2Fig2big%2Fcommon"
        binding="basicHttpBinding" bindingConfiguration="IG2BIG_checkStatus_outBinding"
        contract="ServiceReferenceCheckStatus.IG2BIG_checkStatus_out"
        name="HTTPS_Port" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="RupIntegratorEntities" connectionString="metadata=res://*/BIGModel.csdl|res://*/BIGModel.ssdl|res://*/BIGModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZPROGLEX;initial catalog=RupIntegrator_lan;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
