<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ContractAccountCreateOutBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ContractAccountCreateOutBinding1" />
                <binding name="ContractAccountQueryOutBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ContractAccountQueryOutBinding1" />
                <binding name="ContractAccountRelationCreateOutBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ContractAccountRelationCreateOutBinding1" />
                <binding name="ContractAccountUpdateOutBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ContractAccountUpdateOutBinding1" />
                <binding name="ContractObjectCreateOutBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ContractObjectCreateOutBinding1" />
                <binding name="ContractObjectQueryOutBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ContractObjectQueryOutBinding1" />
                <binding name="DebtorDepositListQueryOutBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="DebtorDepositListQueryOutBinding1" />
                <binding name="DepartmentDictionaryQueryOutBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="DepartmentDictionaryQueryOutBinding1" />
                <binding name="DepositListQueryOutBinding" />
                <binding name="DepositListQueryOutBinding1" />
                <binding name="DepositListQueryOutBinding2">
                    <security mode="Transport" />
                </binding>
                <binding name="DocumentBailiffListQueryOutBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="DocumentBailiffListQueryOutBinding1" />
                <binding name="DocumentCreateOutBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="DocumentCreateOutBinding1" />
                <binding name="DocumentDebtStateUpdateOutBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="DocumentDebtStateUpdateOutBinding1" />
                <binding name="DocumentListQueryOutBinding" />
                <binding name="DocumentListQueryOutBinding1">
                    <security mode="Transport" />
                </binding>
                <binding name="DocumentReductionDebtOutBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="DocumentReductionDebtOutBinding1" />
                <binding name="DocumentReferenceUpdateOutBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="DocumentReferenceUpdateOutBinding1" />
                <binding name="DocumentReverseCreateOutBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="DocumentReverseCreateOutBinding1" />
                <binding name="DocumentUpdateOutBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="DocumentUpdateOutBinding1" />
                <binding name="InstalmentPlanCreateOutBinding" />
                <binding name="InstalmentPlanCreateOutBinding1">
                    <security mode="Transport" />
                </binding>
                <binding name="InstalmentPlanCreateOutBinding2" />
                <binding name="InstalmentPlanDeactivateOutBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="InstalmentPlanDeactivateOutBinding1" />
                <binding name="InstalmentPlanVerifyOutBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="InstalmentPlanVerifyOutBinding1" />
                <binding name="PartnerCreateOutBinding" />
                <binding name="PartnerCreateOutBinding1">
                    <security mode="Transport" />
                </binding>
                <binding name="PartnerQueryOutBinding" />
                <binding name="PartnerQueryOutBinding1">
                    <security mode="Transport" />
                </binding>
                <binding name="PartnerUpdateOutBinding" />
                <binding name="PartnerUpdateOutBinding1">
                    <security mode="Transport" />
                </binding>
                <binding name="PaymentCancellationCreateOutBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="PaymentCancellationCreateOutBinding1" />
                <binding name="PaymentClarificationCreateOutBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="PaymentClarificationCreateOutBinding1" />
                <binding name="PaymentClarificationsQueryOutBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="PaymentClarificationsQueryOutBinding1" />
                <binding name="PaymentClarificationZDOBCreateOutBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="PaymentClarificationZDOBCreateOutBinding1" />
                <binding name="PaymentReservationCreateOutBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="PaymentReservationCreateOutBinding1" />
                <binding name="PostingDataPrepareOutBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="PostingDataPrepareOutBinding1" />
                <binding name="PostingStatusQueryOutBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="PostingStatusQueryOutBinding1" />
                <binding name="RelationCreateOutBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="RelationCreateOutBinding1" />
                <binding name="PaymentListQueryOutBinding" />
                <binding name="PaymentListQueryOutBinding1">
                    <security mode="Transport" />
                </binding>
                <binding name="GetCourtsOutBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="GetCourtsOutBinding1" />
                <binding name="GetDepartmentsOutBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="GetDepartmentsOutBinding1" />
                <binding name="GetCaseRegistryTypesOutBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="GetCaseRegistryTypesOutBinding1" />
                <binding name="ManageAccountOutBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ManageAccountOutBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=ContractAccountCreateOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3AContractAccountCreate"
                binding="basicHttpBinding" bindingConfiguration="ContractAccountCreateOutBinding"
                contract="Ex2PscdContractAccountCreateOutService.ContractAccountCreateOut"
                name="HTTPS_Port" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=ContractAccountQueryOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3AContractAccountQuery"
                binding="basicHttpBinding" bindingConfiguration="ContractAccountQueryOutBinding"
                contract="Ex2PscdContractAccountQueryOutService.ContractAccountQueryOut"
                name="HTTPS_Port1" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=ContractAccountRelationCreateOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3AContractAccountRelationCreate"
                binding="basicHttpBinding" bindingConfiguration="ContractAccountRelationCreateOutBinding"
                contract="Ex2PscdContractAccountRelationCreateOutService.ContractAccountRelationCreateOut"
                name="HTTPS_Port2" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=ContractAccountUpdateOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3AContractAccountUpdate"
                binding="basicHttpBinding" bindingConfiguration="ContractAccountUpdateOutBinding"
                contract="Ex2PscdContractAccountUpdateOutService.ContractAccountUpdateOut"
                name="HTTPS_Port3" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=ContractObjectCreateOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3AContractObjectCreate"
                binding="basicHttpBinding" bindingConfiguration="ContractObjectCreateOutBinding"
                contract="Ex2PscdContractObjectCreateOutService.ContractObjectCreateOut"
                name="HTTPS_Port4" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=ContractObjectQueryOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3AContractObjectQuery"
                binding="basicHttpBinding" bindingConfiguration="ContractObjectQueryOutBinding"
                contract="Ex2PscdContractObjectQueryOutService.ContractObjectQueryOut"
                name="HTTPS_Port5" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=DebtorDepositListQueryOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3ADebtorDepositListQuery"
                binding="basicHttpBinding" bindingConfiguration="DebtorDepositListQueryOutBinding"
                contract="Ex2PscdDebtorDepositListQueryOutService.DebtorDepositListQueryOut"
                name="HTTPS_Port6" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=DepartmentDictionaryQueryOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3ADepartmentDictionaryQuery"
                binding="basicHttpBinding" bindingConfiguration="DepartmentDictionaryQueryOutBinding"
                contract="Ex2PscdDepartmentDictionaryQueryOutService.DepartmentDictionaryQueryOut"
                name="HTTPS_Port7" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=DocumentBailiffListQueryOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3ADocumentBailiffListQuery"
                binding="basicHttpBinding" bindingConfiguration="DocumentBailiffListQueryOutBinding"
                contract="Ex2PscdDocumentBailiffListQueryOutService.DocumentBailiffListQueryOut"
                name="HTTPS_Port9" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=DocumentCreateOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3ADocumentCreate"
                binding="basicHttpBinding" bindingConfiguration="DocumentCreateOutBinding"
                contract="Ex2PscdDocumentCreateOutService.DocumentCreateOut"
                name="HTTPS_Port10" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=DocumentDebtStateUpdateOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3ADocumentDebtStateUpdate"
                binding="basicHttpBinding" bindingConfiguration="DocumentDebtStateUpdateOutBinding"
                contract="Ex2PscdDocumentDebtStateUpdateOutService.DocumentDebtStateUpdateOut"
                name="HTTPS_Port11" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=DocumentReductionDebtOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3ADocumentReductionDebt"
                binding="basicHttpBinding" bindingConfiguration="DocumentReductionDebtOutBinding"
                contract="Ex2PscdDocumentReductionDebtOutService.DocumentReductionDebtOut"
                name="HTTPS_Port13" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=DocumentReferenceUpdateOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3ADocumentReferenceUpdate"
                binding="basicHttpBinding" bindingConfiguration="DocumentReferenceUpdateOutBinding"
                contract="Ex2PscdDocumentReferenceUpdateOutService.DocumentReferenceUpdateOut"
                name="HTTPS_Port14" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=DocumentReverseCreateOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3ADocumentReverseCreate"
                binding="basicHttpBinding" bindingConfiguration="DocumentReverseCreateOutBinding"
                contract="Ex2PscdDocumentReverseCreateOutService.DocumentReverseCreateOut"
                name="HTTPS_Port15" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=DocumentUpdateOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3ADocumentUpdate"
                binding="basicHttpBinding" bindingConfiguration="DocumentUpdateOutBinding"
                contract="Ex2PscdDocumentUpdateOutService.DocumentUpdateOut"
                name="HTTPS_Port16" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=InstalmentPlanCreateOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3AInstalmentPlanCreate"
                binding="basicHttpBinding" bindingConfiguration="InstalmentPlanCreateOutBinding1"
                contract="Ex2PscdInstalmentPlanCreateOutService.InstalmentPlanCreateOut"
                name="HTTPS_Port17" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=InstalmentPlanDeactivateOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3AInstalmentPlanDeactivate"
                binding="basicHttpBinding" bindingConfiguration="InstalmentPlanDeactivateOutBinding"
                contract="Ex2PscdInstalmentPlanDeactivateOutService.InstalmentPlanDeactivateOut"
                name="HTTPS_Port18" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=InstalmentPlanVerifyOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3AInstalmentPlanVerify"
                binding="basicHttpBinding" bindingConfiguration="InstalmentPlanVerifyOutBinding"
                contract="Ex2PscdInstalmentPlanVerifyOutService.InstalmentPlanVerifyOut"
                name="HTTPS_Port19" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=PaymentCancellationCreateOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3APaymentCancellationCreate"
                binding="basicHttpBinding" bindingConfiguration="PaymentCancellationCreateOutBinding"
                contract="Ex2PscdPaymentCancellationCreateOutService.PaymentCancellationCreateOut"
                name="HTTPS_Port23" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=PaymentClarificationCreateOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3APaymentClarificationCreate"
                binding="basicHttpBinding" bindingConfiguration="PaymentClarificationCreateOutBinding"
                contract="Ex2PscdPaymentClarificationCreateOutService.PaymentClarificationCreateOut"
                name="HTTPS_Port24" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=PaymentClarificationsQueryOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3APaymentClarificationsQuery"
                binding="basicHttpBinding" bindingConfiguration="PaymentClarificationsQueryOutBinding"
                contract="Ex2PscdPaymentClarificationsQueryOutService.PaymentClarificationsQueryOut"
                name="HTTPS_Port25" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=PaymentClarificationZDOBCreateOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3APaymentClarificationZDOBCreate"
                binding="basicHttpBinding" bindingConfiguration="PaymentClarificationZDOBCreateOutBinding"
                contract="Ex2PscdPaymentClarificationZDOBCreateOutService.PaymentClarificationZDOBCreateOut"
                name="HTTPS_Port26" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=PaymentReservationCreateOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3APaymentReservationCreate"
                binding="basicHttpBinding" bindingConfiguration="PaymentReservationCreateOutBinding"
                contract="Ex2PscdPaymentReservationCreateOutService.PaymentReservationCreateOut"
                name="HTTPS_Port28" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=PostingDataPrepareOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3APostingDataPrepare"
                binding="basicHttpBinding" bindingConfiguration="PostingDataPrepareOutBinding"
                contract="Ex2PscdPostingDataPrepareOutService.PostingDataPrepareOut"
                name="HTTPS_Port29" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=PostingStatusQueryOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3APostingStatusQuery"
                binding="basicHttpBinding" bindingConfiguration="PostingStatusQueryOutBinding"
                contract="Ex2PscdPostingStatusQueryOutService.PostingStatusQueryOut"
                name="HTTPS_Port30" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=RelationCreateOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3ARelationCreate"
                binding="basicHttpBinding" bindingConfiguration="RelationCreateOutBinding"
                contract="Ex2PscdRelationCreateOutService.RelationCreateOut"
                name="HTTPS_Port31" />
            <endpoint address="http://sapwipl01.zsrk.ms.gov.pl:8100/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=PartnerCreateOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3APartnerCreate"
                binding="basicHttpBinding" bindingConfiguration="PartnerCreateOutBinding"
                contract="Ex2PscdPartnerCreateOutService.PartnerCreateOut"
                name="HTTP_Port" />
            <endpoint address="https://sapwipl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=PartnerCreateOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3APartnerCreate"
                binding="basicHttpBinding" bindingConfiguration="PartnerCreateOutBinding1"
                contract="Ex2PscdPartnerCreateOutService.PartnerCreateOut"
                name="HTTPS_Port20" />
            <endpoint address="http://sapwipl01.zsrk.ms.gov.pl:8100/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=PartnerQueryOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3APartnerQuery"
                binding="basicHttpBinding" bindingConfiguration="PartnerQueryOutBinding"
                contract="Ex2PscdPartnerQueryOutService.PartnerQueryOut" name="HTTP_Port1" />
            <endpoint address="https://sapwipl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=PartnerQueryOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3APartnerQuery"
                binding="basicHttpBinding" bindingConfiguration="PartnerQueryOutBinding1"
                contract="Ex2PscdPartnerQueryOutService.PartnerQueryOut" name="HTTPS_Port21" />
            <endpoint address="http://sapwipl01.zsrk.ms.gov.pl:8100/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=PartnerUpdateOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3APartnerUpdate"
                binding="basicHttpBinding" bindingConfiguration="PartnerUpdateOutBinding"
                contract="Ex2PscdPartnerUpdateOutService.PartnerUpdateOut"
                name="HTTP_Port2" />
            <endpoint address="https://sapwipl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=PartnerUpdateOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3APartnerUpdate"
                binding="basicHttpBinding" bindingConfiguration="PartnerUpdateOutBinding1"
                contract="Ex2PscdPartnerUpdateOutService.PartnerUpdateOut"
                name="HTTPS_Port22" />
            <endpoint address="http://sapwipl01.zsrk.ms.gov.pl:8100/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=DepositListQueryOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3ADepositListQuery"
                binding="basicHttpBinding" bindingConfiguration="DepositListQueryOutBinding1"
                contract="Ex2PscdDepositListQueryOutService.DepositListQueryOut"
                name="HTTP_Port3" />
            <endpoint address="https://sapwipl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=DepositListQueryOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3ADepositListQuery"
                binding="basicHttpBinding" bindingConfiguration="DepositListQueryOutBinding2"
                contract="Ex2PscdDepositListQueryOutService.DepositListQueryOut"
                name="HTTPS_Port8" />
            <endpoint address="http://sapwipl01.zsrk.ms.gov.pl:8100/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=DocumentListQueryOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3ADocumentListQuery"
                binding="basicHttpBinding" bindingConfiguration="DocumentListQueryOutBinding"
                contract="Ex2PscdDocumentListQueryOutService.DocumentListQueryOut"
                name="HTTP_Port4" />
            <endpoint address="https://sapwipl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=DocumentListQueryOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3ADocumentListQuery"
                binding="basicHttpBinding" bindingConfiguration="DocumentListQueryOutBinding1"
                contract="Ex2PscdDocumentListQueryOutService.DocumentListQueryOut"
                name="HTTPS_Port12" />
            <endpoint address="http://sapwitl01.zsrk.ms.gov.pl:8100/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=PaymentListQueryOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3APaymentListQuery"
                binding="basicHttpBinding" bindingConfiguration="PaymentListQueryOutBinding"
                contract="Ex2PscdPaymentListQueryInService.PaymentListQueryOut"
                name="HTTP_Port5" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=PaymentListQueryOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3APaymentListQuery"
                binding="basicHttpBinding" bindingConfiguration="PaymentListQueryOutBinding1"
                contract="Ex2PscdPaymentListQueryInService.PaymentListQueryOut"
                name="HTTPS_Port27" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=DictionariesSOAPSender&amp;receiverParty=&amp;receiverService=&amp;interface=GetCourtsOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3ADictionaries%3AFI"
                binding="basicHttpBinding" bindingConfiguration="GetCourtsOutBinding"
                contract="Ex2PscdGetCourtsOutService.GetCourtsOut" name="HTTPS_Port32" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=DictionariesSOAPSender&amp;receiverParty=&amp;receiverService=&amp;interface=GetDepartmentsOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3ADictionaries%3AFI"
                binding="basicHttpBinding" bindingConfiguration="GetDepartmentsOutBinding"
                contract="Ex2PscdGetDepartmentsOutService.GetDepartmentsOut"
                name="HTTPS_Port33" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=DictionariesSOAPSender&amp;receiverParty=&amp;receiverService=&amp;interface=GetCaseRegistryTypesOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3ADictionaries%3AFI"
                binding="basicHttpBinding" bindingConfiguration="GetCaseRegistryTypesOutBinding"
                contract="Ex2PscdGetCaseRegistryTypesOutService.GetCaseRegistryTypesOut"
                name="HTTPS_Port34" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=ManageAccountOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3AManageAccount"
                binding="basicHttpBinding" bindingConfiguration="ManageAccountOutBinding"
                contract="Ex2PscdManageAccountOutService.ManageAccountOut"
                name="HTTPS_Port35" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
