<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ImportContentSystemDataOutBinding" />
                <binding name="ImportContentSystemDataOutBinding1">
                    <security mode="Transport" />
                </binding>
                <binding name="GetStatusContentSystemDataOutBinding" />
                <binding name="GetStatusContentSystemDataOutBinding1">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sapwitl01.zsrk.ms.gov.pl:8100/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=ISMSender&amp;receiverParty=&amp;receiverService=&amp;interface=ImportContentSystemDataOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AISM%3AImportContentSystemData"
                binding="basicHttpBinding" bindingConfiguration="ImportContentSystemDataOutBinding"
                contract="Rup2ConsImportContentSystemData.ImportContentSystemDataOut"
                name="HTTP_Port" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=ISMSender&amp;receiverParty=&amp;receiverService=&amp;interface=ImportContentSystemDataOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AISM%3AImportContentSystemData"
                binding="basicHttpBinding" bindingConfiguration="ImportContentSystemDataOutBinding1"
                contract="Rup2ConsImportContentSystemData.ImportContentSystemDataOut"
                name="HTTPS_Port" />
            <endpoint address="http://sapwitl01.zsrk.ms.gov.pl:8100/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=ISMSender&amp;receiverParty=&amp;receiverService=&amp;interface=GetStatusContentSystemDataOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AISM%3AGetStatusContentSystemData"
                binding="basicHttpBinding" bindingConfiguration="GetStatusContentSystemDataOutBinding"
                contract="Rup2ConsGetStatusContentSystemData.GetStatusContentSystemDataOut"
                name="HTTP_Port1" />
            <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=ISMSender&amp;receiverParty=&amp;receiverService=&amp;interface=GetStatusContentSystemDataOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AISM%3AGetStatusContentSystemData"
                binding="basicHttpBinding" bindingConfiguration="GetStatusContentSystemDataOutBinding1"
                contract="Rup2ConsGetStatusContentSystemData.GetStatusContentSystemDataOut"
                name="HTTPS_Port1" />
        </client>
    </system.serviceModel>
</configuration>