<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="Ex2PSCDBinding">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap11" writeEncoding="utf-8">
            <readerQuotas maxDepth="10000000" maxStringContentLength="10000000" maxArrayLength="67108864" maxBytesPerRead="65536" maxNameTableCharCount="100000" />
          </textMessageEncoding>
          <httpsTransport authenticationScheme="Basic" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="false" maxBufferSize="2147483647" proxyAuthenticationScheme="Basic" realm="XISOAPApps" useDefaultWebProxy="true" maxReceivedMessageSize="2147483647" requireClientCertificate="true" />
        </binding>
        <binding name="Ex2BIGBinding">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap11" writeEncoding="utf-8">
            <readerQuotas maxDepth="10000000" maxStringContentLength="10000000" maxArrayLength="67108864" maxBytesPerRead="65536" maxNameTableCharCount="100000" />
          </textMessageEncoding>
          <httpsTransport authenticationScheme="Basic" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="false" maxBufferSize="2147483647" proxyAuthenticationScheme="Basic" realm="XISOAPApps" useDefaultWebProxy="true" maxReceivedMessageSize="2147483647" />
        </binding>
        <binding name="CustomHttpTransportBinding">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap11" writeEncoding="utf-8">
            <readerQuotas maxDepth="10000000" maxStringContentLength="10000000" maxArrayLength="67108864" maxBytesPerRead="65536" maxNameTableCharCount="100000" />
          </textMessageEncoding>
          <httpsTransport authenticationScheme="Basic" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="false" maxBufferSize="2147483647" proxyAuthenticationScheme="Basic" realm="XISOAPApps" useDefaultWebProxy="true" maxReceivedMessageSize="2147483647" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=PartnerQueryOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3APartnerQuery" binding="customBinding" bindingConfiguration="Ex2PSCDBinding" contract="Ex2PscdPartnerQueryOutService.PartnerQueryOut" name="Ex2PSCDEndpoint" />
      <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=IG_SENDER_SYSTEMS_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=IG2BIG_checkStatus_out&amp;interfaceNamespace=http%3A%2F%2Fms.gov.pl%2Fig2big%2Fcommon" binding="customBinding" bindingConfiguration="Ex2PSCDBinding1" contract="ServiceReferenceCheckStatus.IG2BIG_checkStatus_out" name="HTTPS_Status" />
      <endpoint address="https://sapmodl01.zsrk.ms.gov.pl:51100/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=IG_SENDER_SYSTEMS_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=IG2BIG_packageSubmitRequest_out&amp;interfaceNamespace=http%3A%2F%2Fms.gov.pl%2Fig2big%2Fcommon" binding="customBinding" bindingConfiguration="CustomHttpTransportBinding" contract="ServiceReferenceBigMain.IG2BIG_packageSubmitRequest_out" name="HTTP_Package" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="UserName" value="proglex" />
    <add key="MockKartaFilePath" value="e:\RUP-Wroclaw\CONS\Sample\Request.xml" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="RupDBEntities" connectionString="metadata=res://*/RupDB.csdl|res://*/RupDB.ssdl|res://*/RupDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZPROGLEX;initial catalog=RupIntegrator_lan;persist security info=True;user id=sa;password=sa;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RupIntegrator.Properties.Settings.RupDB" connectionString="Data Source=ZPROGLEX;Initial Catalog=RupIntegrator_lan;User ID=sa;Password=sa;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>