<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings file="">
    <clear/>
    <add key="UserName" value="proglex"/>
    <add key="UserPwd" value="vUmf/oeIg6qqJHj5KbmuSw=="/>

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="1.0.0.0-15.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="RupLoader.Properties.Settings.RupDB" connectionString="Data Source=ZPROGLEX;Initial Catalog=RupIntegrator_lan;User ID=sa;Password=sa;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <add name="RupIntegratorEntities" connectionString="metadata=res://*/RupIntegratorModel.csdl|res://*/RupIntegratorModel.ssdl|res://*/RupIntegratorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ZPROGLEX;Initial Catalog=RupIntegrator_lan;User ID=sa;Password=sa;Integrated Security=SSPI;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="Ex2PSCDBinding">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap11" writeEncoding="utf-8">
            <readerQuotas maxDepth="10000000" maxStringContentLength="10000000" maxArrayLength="67108864" maxBytesPerRead="65536" maxNameTableCharCount="100000"/>
          </textMessageEncoding>
          <httpsTransport authenticationScheme="Basic" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="false" maxBufferSize="2147483647" proxyAuthenticationScheme="Basic" realm="XISOAPApps" useDefaultWebProxy="true" maxReceivedMessageSize="2147483647" requireClientCertificate="true"/>
        </binding>
      </customBinding>
     
    </bindings>
    <client>
      <endpoint address="https://sapwitl01.zsrk.ms.gov.pl:44300/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=EX2PSCDSender&amp;receiverParty=&amp;receiverService=&amp;interface=PartnerQueryOut&amp;interfaceNamespace=urn%3Ams.gov.pl%3AEX2PSCD%3APartnerQuery" binding="customBinding" bindingConfiguration="Ex2PSCDBinding" contract="Ex2PscdPartnerQueryOutService.PartnerQueryOut" name="Ex2PSCDEndpoint"/>
    </client>
  </system.serviceModel>
</configuration>
